{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Company Management plugin for Craft CMS 3.x
 *
 * Company Management index.twig
 *
 * @author    Percipio
 * @copyright Copyright (c) 2021 Percipio
 * @link      http://percipio.london/
 * @package   CompanyManagement
 * @since     1.0.0
 */
#}
{% extends "_layouts/cp" %}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\companymanagement\\assetbundles\\companymanagement\\CompanyManagementAsset'
    ],
} %}

{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/percipioglobal/company-management/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Company Management" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('company-management') %}

{# Get a URL to an image in our AssetBundle #}
{#{% set iconUrl = view.getAssetManager().getPublishedUrl('@percipiolondon/companymanagement/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}#}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('company-management') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}

    {{ craft.timeloop.register('/src/js/companymanagement.ts', false, scriptTagOptions) }}
    <h2>{{ "Index CP Section body goes here"|t('company-management') }}</h2>
{#    <img src="{{ iconUrl }}" height="64" width="64" />#}
    <p class="textline"></p>
{% endset %}