{%- import "_includes/forms" as forms -%}

{% set companyUser = companyUser ?? null %}
{% set user = user ?? null %}

<div id="companyManagement" class="hidden">
    {{ forms.textField({
        first: true,
        label: "National Insurance Number"|t('company-management'),
        id: 'nationalInsuranceNumber',
        name: 'nationalInsuranceNumber',
        required: true,
        value: companyUser ? companyUser.nationalInsuranceNumber : '',
        errors: user ? user.getErrors('nationalInsuranceNumber') : null,
    }) }}

    {{ forms.dateField({
        label: "Employee Start Date"|t('company-management'),
        id: 'employeeStartDate',
        name: 'employeeStartDate',
        value: companyUser ? companyUser.employeeStartDate : '',
        errors: user ? user.getErrors('employeeStartDate') : null,
    }) }}

    {{ forms.dateField({
        label: "Employee End Date"|t('company-management'),
        id: 'employeeEndDate',
        name: 'employeeEndDate',
        value: companyUser ? companyUser.employeeEndDate : '',
        errors: user ? user.getErrors('employeeEndDate') : null,
    }) }}

    {{ forms.textField({
        first: true,
        type: 'number',
        label: "Gross Income"|t('company-management'),
        id: 'grossIncome',
        name: 'grossIncome',
        value: companyUser ? companyUser.grossIncome : '',
        errors: companyUser ? companyUser.getErrors('grossIncome') : null,
    }) }}

    {{ forms.dateField({
        first: true,
        label: "Birthday"|t('company-management'),
        id: 'birthday',
        name: 'birthday',
        value: companyUser ? companyUser.birthday : '',
        errors: companyUser ? companyUser.getErrors('birthday') : null,
    }) }}

    {%- set assets = companyUser ? companyUser.documents ? [craft.assets.id(companyUser.documents).all()] : [] : [] -%}
    {{ forms.elementSelectField({
        label: "Documents"|t('company-management'),
        id: 'documents',
        name: 'documents',
        elementType: 'craft\\elements\\Asset',
        elements:assets,
        value: companyUser ? companyUser.documents : '',
        instructions: "Upload or select documents"|t('company-management'),
        errors: companyUser ? companyUser.getErrors('documents') : null,
    }) }}
</div>