{%- import "_includes/forms" as forms -%}

{% set user = user ?? null %}

<div id="companyManagement" class="hidden">
    {{ forms.textField({
        first: true,
        label: "National Insurance Number"|t('company-management'),
        id: 'cmNationalInsuranceNumber',
        name: 'cmNationalInsuranceNumber',
        required: true,
        value: currentUser ? currentUser.cmNationalInsuranceNumber : '',
        errors: currentUser ? currentUser.getErrors('cmNationalInsuranceNumber') : null,
    }) }}

    {{ forms.dateField({
        label: "Employee Start Date"|t('company-management'),
        id: 'cmEmployeeStartDate',
        name: 'cmEmployeeStartDate',
        value: currentUser ? currentUser.cmEmployeeStartDate : '',
        errors: currentUser ? currentUser.getErrors('cmEmployeeStartDate') : null,
    }) }}

    {{ forms.dateField({
        label: "Employee End Date"|t('company-management'),
        id: 'cmEmployeeEndDate',
        name: 'cmEmployeeEndDate',
        value: currentUser ? currentUser.cmEmployeeEndDate : '',
        errors: currentUser ? currentUser.getErrors('cmEmployeeEndDate') : null,
    }) }}

    {{ forms.textField({
        first: true,
        label: "Phone"|t('company-management'),
        id: 'cmPhone',
        name: 'cmPhone',
        value: currentUser ? currentUser.cmPhone : '',
        errors: currentUser ? currentUser.getErrors('cmPhone') : null,
    }) }}

    {{ forms.textField({
        first: true,
        type: 'number',
        label: "Gross Income"|t('company-management'),
        id: 'cmGrossIncome',
        name: 'cmGrossIncome',
        value: currentUser ? currentUser.cmGrossIncome : '',
        errors: currentUser ? currentUser.getErrors('cmGrossIncome') : null,
    }) }}

    {{ forms.dateField({
        first: true,
        label: "Birthday"|t('company-management'),
        id: 'cmBirthday',
        name: 'cmBirthday',
        value: currentUser ? currentUser.cmBirthday : '',
        errors: currentUser ? currentUser.getErrors('cmBirthday') : null,
    }) }}

    {%- set assets = currentUser ? currentUser.cmDocuments ? [craft.assets.id(currentUser.mc_documents).all()] : [] : [] -%}
    {{ forms.elementSelectField({
        label: "Documents"|t('company-management'),
        id: 'cmDocuments',
        name: 'cmDocuments',
        elementType: 'craft\\elements\\Asset',
        elements:assets,
        value: currentUser ? currentUser.cmDocuments : '',
        instructions: "Upload or select documents"|t('company-management'),
        errors: currentUser ? currentUser.getErrors('cmDocuments') : null,
    }) }}
</div>