{%- import "_includes/forms" as forms -%}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\companymanagement\\assetbundles\\companymanagement\\CompanyManagementAsset'
    ],
} %}

{#{{ craft.timeloop.register('/src/js/companymanagement.ts', false, scriptTagOptions) }}#}

{% set employee = employee ?? null %}
{% set user = user ?? null %}

<div id="companyManagement" class="hidden">
    {{ forms.textField({
        first: true,
        label: "National Insurance Number"|t('company-management'),
        id: 'nationalInsuranceNumber',
        name: 'nationalInsuranceNumber',
        required: true,
        value: employee ? employee.nationalInsuranceNumber : '',
        errors: user ? user.getErrors('nationalInsuranceNumber') : null,
    }) }}

    {{ forms.dateField({
        label: "Birthday"|t('company-management'),
        id: 'birthday',
        name: 'birthday',
        value: employee ? employee.birthday : '',
        errors: employee ? employee.getErrors('birthday') : null,
    }) }}

    {{ forms.textField({
        label: "Job Role"|t('company-management'),
        id: 'jobRole',
        name: 'jobRole',
        value: employee ? employee.jobRole : '',
        errors: employee ? employee.getErrors('jobRole') : null,
    }) }}

    <hr/>

    {{ forms.dateField({
        label: "Employee Start Date"|t('company-management'),
        id: 'employeeStartDate',
        name: 'employeeStartDate',
        value: employee ? employee.employeeStartDate : '',
        errors: user ? user.getErrors('employeeStartDate') : null,
    }) }}

    {{ forms.dateField({
        label: "Employee End Date"|t('company-management'),
        id: 'employeeEndDate',
        name: 'employeeEndDate',
        value: employee ? employee.employeeEndDate : '',
        errors: user ? user.getErrors('employeeEndDate') : null,
    }) }}

    <hr/>

    {{ forms.textField({
        first: true,
        type: 'number',
        label: "Gross Income"|t('company-management'),
        id: 'grossIncome',
        name: 'grossIncome',
        value: employee ? employee.grossIncome : '',
        errors: employee ? employee.getErrors('grossIncome') : null,
    }) }}

    <hr/>

    {%- set assets = documents ? [craft.assets.id(documents).all()] : [] -%}
    {{ forms.elementSelectField({
        label: "Documents"|t('company-management'),
        id: 'documents',
        name: 'documents',
        elementType: 'craft\\elements\\Asset',
        elements:assets,
        value: documents ?? '',
        instructions: "Upload or select documents"|t('company-management'),
        errors: employee ? employee.getErrors('documents') : null,
    }) }}

    <hr/>

    {%- set comp = company ? [craft.companies.id(company).one()] : [] -%}
    {{ forms.elementSelectField({
        label: "Company"|t('company-management'),
        id: 'companyId',
        name: 'companyId',
        elementType: 'percipiolondon\\companymanagement\\elements\\Company',
        elements: comp,
        value: company ?? '',
        instructions: "Select a company"|t('company-management'),
        errors: employee ? employee.getErrors('companies') : null,
    }) }}
</div>
