{% extends '_layouts/elementindex' %}
{% set title = "Companies"|t('companies-management') %}
{%- set selectedSubnavItem = 'companies' -%}

{% set elementType = 'percipiolondon\\companymanagement\\elements\\Company' %}

{% block actionButton %}
    <a href="{{ url('company-management/companies/new') }}" class="btn submit add icon">Create Company</a>
    {{ parent() }}
{% endblock %}

{% block initJs %}
    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#page-container'), {
    elementTypeName: '{{ elementInstance.displayName()|e("js") }}',
    elementTypePluralName: '{{ elementInstance.pluralDisplayName()|e("js") }}',
    context: '{{ context }}',
    storageKey: 'elementindex.{{ elementType|e("js") }}',
    toolbarSelector: '#toolbar'
    });
{% endblock %}

{% if orderStatusHandle is defined and orderStatusHandle %}
    {% js %}
        window.defaultStatusHandle = '{{ orderStatusHandle }}';
    {% endjs %}
{% endif %}